<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Professor online, aula online, estudar online">
    <meta name="keywords" content="Juliane Ferreira">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/partial/page-landing.css">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <title>Proffy | Sua plataforma de estudos online</title>
</head>
<body id="page-landing">
    <div id="container">
         <div class="logo-container">
             <img src="./images/logo.svg" alt="Proffy">
            <h2> Sua plataforma de<br> estudos online</h2>
        </div><!--logo-container-->

        <img src="./images/landing.svg" alt="Plataforma de estudos" class="hero-image">
      
        <div class="buttons-container">
            <a class="study" href="/study">
                <img src="./images/icons/study.svg" alt="Estudar">
                Estudar
            </a>
            <a class="give-classes" href="/give-classes">
                <img src="./images/icons/give-classes.svg" alt="Dar aulas">
               Dar aulas
            </a>
        </div><!--buttons-container-->

        <p class="total-connections">
            Total de 200 conexões já realizadas
            <img src="/images/icons/purple-heart.svg" alt="coração roxo">
        </p>
    </div><!--container-->
</body>
</html>